<ion-modal #modal [isOpen]="isOpen" [backdropDismiss]="this.backdropDismiss" (ionModalDidPresent)="modalDidPresentHandle()"
    (ionModalDidDismiss)="onCloseModal()" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation"
    [ngClass]="'ob-modal--' + this.position" class="ob-modal">
    <ng-template>
        @if (modalTitle) {
            <ion-header class="ob-layout__header">
                <ion-toolbar>
                    <ion-title>{{ modalTitle }}</ion-title>
                    <ion-buttons slot="end">
                        <ion-button (click)="onCloseModal()"><ion-icon name="close" /></ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
        }
        <ion-content class="ob-layout__content">
            <ng-content />
        </ion-content>
        <ion-footer class="ob-layout__footer" />
        <div class="ob-modal__custom-handler">
            <div class="ob-modal__handler-icon"></div>
        </div>
    </ng-template>
</ion-modal>