.ob-modal {
    --height: auto;

    &::part(content) {
        position: absolute;
        overflow: hidden;
    }

    &::part(content) {
        position: absolute;
        overflow: hidden;
    }

    &--top::part(content) {
        border-radius: 0px 0px 16px 16px;
        top: 0;
        bottom: unset;
    }

    &--top::part(handle) {
        top: auto;
        bottom: 5px;
    }

    &--bottom::part(content) {
        border-radius: 16px 16px 0px 0px;
        top: unset;
        bottom: 0;
    }

    &__custom-handler {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;

        z-index: 99999;
    }

    &__handler-icon {
        height: 5px;
        width: 60px;
        background: var(--ob-theme-color-grey-light-10);
        border-radius: 12px;
    }

    &--top &__custom-handler {
        bottom: 10px;
    }

    &--bottom &__custom-handler {
        top: 10px;
    }

    & ion-content {
        contain: content;

        &::part(scroll) {
            position: relative;
            max-height: 85vh;
        }
    }

    & ion-header{
        padding-top: 18px;
    }

    & .ion-page {
        padding: 0;
    }

    & ion-title {
        font-weight: 500;
        font-size: 20px;
        padding: 0;
        line-height: 24px;
        color: var(--ob-theme-color-black);
    }

    & ion-buttons {
        margin: 0;
    }

    & ion-button {
        margin: 0;
        margin-right: -4px;
        --ripple-color: transparent;
    }

    & ion-button::part(native) {
        padding: 0;
    }

    & ion-button ion-icon {
        font-size: 24px;
        color: #8e827c;
    }
}
