@use '@angular/material' as mat;
@use "libs/shared/styles" as ob;
@use 'app/shared/styles/components-override' as app;
@use 'libs/shared/styles/elements' as elements;
@use 'libs/shi-panel/styles' as shi;

@include ob.theme-variables();

//@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.elevation-classes();
@include mat.app-background();
@include mat.typography-hierarchy(ob.$theme);
@include mat.all-component-themes(ob.$theme);

@include ob.mat-all-component-override(ob.$palettes, ob.$colors, ob.$typography);
@include app.shi-material-components-override(ob.$palettes, ob.$colors, ob.$typography);

@include elements.all();

@include shi.all();
