<ion-card data-override-styles class="ob-native-card ticket-access-control-card" (click)="onTap()">
    <ion-card-content class="ticket-access-control-card__content">
        <div class="ticket-access-control-card__content-row">
            <div class="ticket-access-control-card__color-bar" [ngClass]="getCssClass"></div>
        </div>
        <ion-text class="ticket-access-control-card__code">
            <span>
                {{'TICKETS.TICKET-CODE' | translate : {code: formattedCode} }}
            </span>
        </ion-text>
        <div class="ticket-access-control-card__content-row ticket-access-control-card__content-row--no-wraps">
            <div class="ticket-access-control-card__text-block">
                <span class="ticket-access-control-card__text-block-title">
                    {{ 'TICKETS.CARD-ROW' | translate }}
                </span>
                <span class="ticket-access-control-card__text-block-value">
                    {{ this.ticket.ticket?.allocation?.row?.name ?? '-' }}
                </span>
            </div>
            <div class="ticket-access-control-card__text-block">
                <span class="ticket-access-control-card__text-block-title">
                    {{ 'TICKETS.CARD-LOCATION' | translate }}
                </span>
                <span class="ticket-access-control-card__text-block-value">
                    {{ this.ticket.ticket?.allocation?.seat?.name ?? '-' }}
                </span>
            </div>
            <div class="ticket-access-control-card__text-block">
                <span class="ticket-access-control-card__text-block-title">
                    {{ 'TICKETS.CARD-LOCATOR' | translate }}
                </span>
                <span class="ticket-access-control-card__text-block-value">
                    {{ this.ticket?.ticket.barcode?.code ?? '-' }}
                </span>
            </div>
        </div>
    </ion-card-content>
</ion-card>