@use "./core/components/buttons";
@use "./core/components/inputs";
@use "./core/components/alerts";
@use "./core/components/cards";
@use "./core/components/spinner";
@use "./core/components/search-bar";
@use "./core/components/accordions";
@use "./core/components/toggle";
@use "./core/components/toast";
@use "./core/layout/page";
@use "./ionic/overrides";

@mixin all() {
  @include buttons.styles();
  @include inputs.styles();
  @include alerts.styles();
  @include cards.styles();
  @include spinner.styles();
  @include search-bar.styles();
  @include accordions.styles();
  @include toggle.styles();
  @include toast.styles();
  @include page.styles();
  @include overrides.styles();
}
