@use "sass:map";

@function font($font-family, $font-size, $line-height, $font-weight) {
    @return (font-family: $font-family, font-size: $font-size, line-height: $line-height, font-weight: $font-weight);
}

$ob-typography: (
    h1: font("Montserrat", 40px, 32px, 700),
    h2-r: font("Montserrat", 26px, 30px, 400),
    h2-b: font("Montserrat", 26px, 30px, 700),
    h3-r: font("Montserrat", 22px, 24px, 400),
    h3-b: font("Montserrat", 22px, 24px, 700),
    h4-r: font("Montserrat", 16px, 20px, 400),
    h4-b: font("Montserrat", 16px, 20px, 700),
    b05-l: font("Nunito Sans", 18px, 20px, 300),
    b05-r: font("Nunito Sans", 18px, 20px, 400),
    b05-b: font("Nunito Sans", 18px, 20px, 700),
    b1-l: font("Nunito Sans", 16px, 18px, 300),
    b1-r: font("Nunito Sans", 16px, 18px, 400),
    b1-b: font("Nunito Sans", 16px, 18px, 700),
    b2-l: font("Nunito Sans", 14px, 18px, 300),
    b2-r: font("Nunito Sans", 14px, 18px, 400),
    b2-b: font("Nunito Sans", 14px, 16px, 700),
    b3-l: font("Nunito Sans", 12px, 16px, 300),
    b3-r: font("Nunito Sans", 12px, 16px, 400),
    b3-b: font("Nunito Sans", 12px, 14px, 700),
    b4-l: font("Nunito Sans", 10px, 14px, 300),
    b4-r: font("Nunito Sans", 10px, 14px, 400),
    btn: font("Montserrat", 16px, 20px, 700),
    menu-r: font("Montserrat", 12px, 18px, 700),
    menu-b: font("Montserrat", 12px, 18px, 400),
    roulette-l: font("Nunito Sans", 18px, 20px, 300),
    roulette-r: font("Nunito Sans", 18px, 20px, 400),
    roulette-b: font("Nunito Sans", 18px, 20px, 700),
    status-indicator: font("Nunito Sans", 18px, 16px, 400),
    modal-title: font("Montserrat", 20px, 24px, 500),
    circle-monogram: font("Nunito Sans", 21px, 26px, 700),
    circle-monogram-small: font("Nunito Sans", 16px, 18px, 700),
    text-link: font("Montserrat", 16px, 18px, 700),
    amounts-b: font("Nunito Sans", 22px, 24px, 700)
);

@mixin typography($name) {
    $properties: map.get($ob-typography, $name);
    @each $property, $value in $properties {
        #{$property}: $value;
    }
}
