.chart {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    &__filter {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    ob-chart {
        display: flex;
        justify-content: center;
        height: 170px;
        width: 100%;
        margin-left: -5px;
    }
}
