$bg-color: var(--ob-theme-color-bg-1);

.popover-user-button {
    cursor: pointer;
    user-select: none;
}

.avatar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.avatar-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        width: 100%;
    }
}

.avatar {
    text-align: center;
    border-radius: 100%;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: #646d6e;
    &.avatar-sm {
        letter-spacing: -1px;
        text-indent: -1px;
        font-size: 10px;
        line-height: 32px;
        width: 31px;
        height: 31px;
    }
    &.avatar-lg {
        letter-spacing: -3px;
        text-indent: -3px;
        font-size: 28px;
        line-height: 80px;
        width: 80px;
        height: 80px;
    }
}
