.ob-toolbar {
    padding: 0;
    max-height: 40px;
    min-height: 40px;
    .toolbar-item {
        margin: auto 15px auto 15px;
        &:first-child {
            margin-left: 2px;
            margin-right: 0;
        }
        &.toolbar-title {
            margin-left: 3px;
            flex: 1 1 auto;
            font: var(--ob-theme-font-headline);
        }
        &.toolbar-version {
            flex: 1.15 1 auto;
        }
    }
}
