@use "typography" as *;

$accent-color: var(--ob-theme-color-accent);

.ticket-detail {
    &__text-ellipsis {
        overflow: hidden;
        white-space: normal !important;
        ion-label{
            @media screen and (max-width: 310px) {
                font-size: 12px;
            }
        }

    }

    &__header-info {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }

    &__header-price {
        @include typography(b05-b);
        letter-spacing: 0em;
        color: var(--ob-theme-color-accent);
        display: flex;
        align-items: center;
        gap: 2px;
    }

    &__header-validation {
        border-radius: 34px;
        border-width: 1px;
        border-style: solid;
        span {
            @include typography(b2-r);
            letter-spacing: 0em;
            padding: 1px 8px;
            text-align: center;
        }


        &--validated {
            border-color: var(--ob-theme-color-success-darker);
            color:  var(--ob-theme-color-success-darker);
        }

        &--not_validated {
            border-color:  var(--ob-theme-color-warn-darker);
            color: var(--ob-theme-color-warn-darker);
        }
    }

    &__header-interactions {
        display: flex;
        justify-content: space-between;
        gap: 3px;
        margin-top: 15px;
    }

    &__header-btn-icon {
        margin-right: 8px;
    }

    &__price-modal {
        margin-top: env(safe-area-inset-top);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__price-title {
        @include typography(h3-b);
        letter-spacing: 0em;
        color: var(--ob-theme-color-black);
    }

    &__price-amount {
        display: flex;
        justify-content: space-between;
        span {
            @include typography(b1-r);
            letter-spacing: 0em;
            color: var(--ob-theme-color-black);
        }

    }

    &__price-total {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        padding: 16px 0;
        border-top: 1px solid var(--ob-theme-color-grey-light-20);
        span {
            @include typography(b05-b);
            font-size: 20px;
            letter-spacing: 0em;
            color: $accent-color;
        }

    }

    &__accordion-content {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        &--list {
            flex-direction: column;
        }
    }

    &__accordion-list-item {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: space-between;
        padding: 12px 0;
        border-bottom: 1px solid var(--ob-theme-color-grey-light-20);
    }

    &__accordion-text-block {
        flex-basis: calc(50% - 6px);
        max-width: calc(50% - 6px);
        display: flex;
        flex-direction: column;

        &--list-item {
            flex-basis: auto;
            max-width: none;
        }

        &:not(&--list-item) > * {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__accordion-text-total {
        span {
            @include typography(b1-b);
            letter-spacing: 0em;
            color: $accent-color;
        }
    }

    &__accordion-text {
        &--title {
            @include typography(b2-r);
            letter-spacing: 0em;
            text-align: left;
            color: var(--ob-theme-color-grey);
        }

        &--value {
            @include typography(b1-r);
            letter-spacing: 0em;
            text-align: left;

            color: var(--ob-theme-color-black);
        }
    }

    &__accordion-divider {
        height: 1px;
        width: 100%;
        background-color: var(--ob-theme-color-grey-light-10);
        margin: 10px 0;
    }
}

.skeleton {
    &__back-button {
        margin-top: 16px;
        margin-left: 20px;
        height: 22px;
        width: 60px;
    }

    &__header-info {
        height: 20px;
        width: 30%;
    }

    &__accordion {
        height: 16px;
        width: 60%;
    }
}
