.select {
    &__header-end {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        color: var(--ob-theme-color-primary);
    }

    &__input {
        margin-bottom: 12px;
    }

    &__button-groups {
        flex-direction: row;

        ion-button {
            text-transform: none;
            margin-bottom: 12px;
            margin-right: 12px;
            font-family: "Nunito";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 21px; /* 150% */

            &::part(native) {
                color: var(--ob-theme-color-black);
            }
        }

        ion-button[color="primary"] {
            &::part(native) {
                color: var(--ob-theme-color-white);
            }
        }
    }

    &__input-arrow {
        position: absolute;
        right: -1px;
        bottom: 14px;
        font-size: 18px;
        color:var(--ob-theme-color-grey-light-20)
    }

    &__footer {
        border-top: 1px solid #dadada;
        padding-top: 38px;
        padding-bottom: 38px;
    }
}

.itemSelect{
    border: 1px solid;
    --border-color: var(--ion-color-step-300, var(--ion-background-color-step-300, #b3b3b3));
    --border-radius: 4px;
    --padding-start: 16px;
    --padding-end: 16px;
    min-height: 56px;
    margin: 0;
    min-height: 44px;
    width: 100%;
    border: 1px solid var(--ob-theme-color-grey-light-20);
    border-radius: 8px;
    color: var(--ob-theme-color-black);
    margin-bottom: 12px;
}