<ion-content class="static-view">
    <div class="static-view__content">
        <ion-img class="static-view__img" [src]="viewContent.img" alt="Onebox logo" />
        <ion-text class="static-view__title">
            <h1 data-override-styles class="static-view__title">
                {{ viewContent.title | translate }}
            </h1>
        </ion-text>
        @if(viewContent.description){
            <ion-text class="static-view__text">
                <p data-override-styles class="static-view__text">
                    {{ viewContent.description | translate }}
                </p>
            </ion-text>
        }

        @if(viewContent.isSales){
            <div>
                <ion-button  expand="full" (click)="goToEvent()"  class="ob-btn primary">
                    {{ "STATIC-VIEW.EVENTS_BUTTON" | translate }}
                </ion-button>
                <ion-button  (click)="goToSales()"  class="ob-btn primary">
                    {{ "STATIC-VIEW.SALES_BUTTON" | translate }}
                </ion-button>
            </div>
        }
    </div>


    @if(viewContent.isError){
        <ion-button (click)="reTry()" data-override-styles="" class="static-view__btn ob-btn size--medium primary">
            {{ "STATIC-VIEW.ERROR-BUTTON" | translate }}
        </ion-button>
    }
</ion-content>