@use "typography" as *;

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.static-view {
    &::part(scroll) {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__img {
        margin: 0 auto;
        width: 112px;
        margin-bottom: 24px;
    }

    &__title {
        color: var(--ob-theme-color-primary);
        text-align: center;
        @include typography(h3-b);
    }

    &__text {
        color: var(--ob-theme-color-black);
        text-align: center;
        @include typography(b1-r);
    }

    &__btn.ob-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
    div{
        display: flex;
        justify-content: space-around;
        ion-button{
            width: 100%;
            margin-right: 1em;
            height: 48px;
        }    
    }
}
