@use "typography" as *;

.ob-layout__content::part(scroll) {
    justify-content: space-between;
    gap: 36px;
}

.login-form {
    &__logo {
        z-index: 1;
        height: 55px;
        margin: 50px auto 36px;
    }

    &__input {
        margin-bottom: 10px;

        &:nth-child(1) {
            margin-bottom: 24px;
        }
    }

    &__input--password {
        .ob-input {
            --padding-end: 45px;
        }

        ion-button {
            width: 48px;
            height: 48px;
            position: absolute;
            right: 18px;
            bottom: 6px;
            --background: transparent;
            --box-shadow: none;
            color: var(--ob-theme-color-black);
            z-index: 9999;

            & ion-icon {
                color: var(--ob-theme-color-grey);
                position: absolute;
                width: 20px;
                height: 20px;

            }
        }
    }

    &__copy-and-terms {
        text-align: center;

        & span {
            @include typography(b2-r);
            color: var(--ob-theme-color-black);
        }

        & a {
            @include typography(b2-r);
            text-decoration: none;
            color: "#427FEC";
        }
    }

    &__notification {
        width: 100%;
        margin: 8px auto;
        display: flex;
        justify-content: center;

        span {
            font: var(--ob-theme-font-body-1);
            margin-left: 8px;
        }
    }
}

.mfa-form {
    &__title {
        margin-bottom: 32px;
        text-align: center;
        color: var(--ob-theme-color-primary);
        @include typography(h2-b);
    }

    &__text {
        margin-bottom: 24px;
        text-align: center;
        color: var(--ob-theme-color-black);
        @include typography(b1-r);
    }

    &__input {
        margin-bottom: 10px;
    }

    &__form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .form-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &::part(scroll) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

.form-link {
    display: inline-block;
    min-height: 48px;
    margin-bottom: 4px;

    span {
        @include typography(text-link);
        color: var(--ob-theme-color-primary);
    }
}

.account-blocked {
    &__title {
        margin-bottom: 16px;
        text-align: center;
        color: var(--ob-theme-color-primary);
        @include typography(h2-b);
    }

    &__text {
        text-align: center;
        color: var(--ob-theme-color-black);
        @include typography(b1-r);
    }

    &__back-button {
        margin-top: 2px;
        font-size: 22px;
        min-width: 22px;
        color: var(--ob-theme-color-primary);
        margin-left: -6px;
    }
}
