@use "libs/shared/styles" as ob;

@include ob.theme-variables();

@mixin styles() {

    :root {
        --ion-color-primary: #3ba0a8;
        --ion-color-primary-rgb: 59, 160, 168;
        --ion-color-primary-contrast: #000000;
        --ion-color-primary-contrast-rgb: 0, 0, 0;
        --ion-color-primary-shade: #348d94;
        --ion-color-primary-tint: #4faab1;

        --ion-color-secondary: #19737d;
        --ion-color-secondary-rgb: 25, 115, 125;
        --ion-color-secondary-contrast: #ffffff;
        --ion-color-secondary-contrast-rgb: 255, 255, 255;
        --ion-color-secondary-shade: #16656e;
        --ion-color-secondary-tint: #30818a;

        --ion-color-tertiary: #427fec;
        --ion-color-tertiary-rgb: 66, 127, 236;
        --ion-color-tertiary-contrast: #ffffff;
        --ion-color-tertiary-contrast-rgb: 255, 255, 255;
        --ion-color-tertiary-shade: #3a70d0;
        --ion-color-tertiary-tint: #558cee;

        --ion-color-success: #43d05b;
        --ion-color-success-rgb: 67, 208, 91;
        --ion-color-success-contrast: #000000;
        --ion-color-success-contrast-rgb: 0, 0, 0;
        --ion-color-success-shade: #3bb750;
        --ion-color-success-tint: #56d56b;

        --ion-color-warning: #ffaa09;
        --ion-color-warning-rgb: 255, 170, 9;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0, 0, 0;
        --ion-color-warning-shade: #e09608;
        --ion-color-warning-tint: #ffb322;

        --ion-color-danger: #ff5209;
        --ion-color-danger-rgb: 0, 0, 0;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255, 255, 255;
        --ion-color-danger-shade: #000000;
        --ion-color-danger-tint: #1a1a1a;

        --ion-color-medium: #dadada;
        --ion-color-medium-rgb: 218, 218, 218;
        --ion-color-medium-contrast: #000000;
        --ion-color-medium-contrast-rgb: 0, 0, 0;
        --ion-color-medium-shade: #c0c0c0;
        --ion-color-medium-tint: #dedede;

        --ion-color-light: #f4f5f8;
        --ion-color-light-rgb: 244, 245, 248;
        --ion-color-light-contrast: #000000;
        --ion-color-light-contrast-rgb: 0, 0, 0;
        --ion-color-light-shade: #d7d8da;
        --ion-color-light-tint: #f5f6f9;
    }

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        --inner-border-width: 0;
    }

    ion-back-button {
        --color: var(--ob-theme-color-primary);
    }

    ion-toast {
        --background: var(--ob-theme-color-white);
        --border-radius: 16px;
        --height: 50px;

        &::part(message) {
            font-family: "Nunito Sans";
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: var(--ob-theme-color-black);
        }
    }

    ion-card {
        border-radius: 16px;
        box-shadow: 0px 0px 10px 0px #214b4e26;
        margin: 0;
    }

    ion-skeleton-text {
        border-radius: 20px;
    }

    ion-label {
        .item-interactive-disabled:not(.item-multiple-inputs) &.sc-ion-label-md-h {
            opacity: 1;
        }
    }

    ion-button {
        margin: 0;
        --ripple-color: transparent;

        &.button-disabled {
            opacity: 1;
        }

        &::part(native) {
            letter-spacing: normal;
        }
    }

    ion-toolbar ion-buttons {
        margin: 0;
        max-width: 100%;

        .button-disabled {
            cursor: default !important;
            opacity: 0.5 !important;
            pointer-events: none !important;
            filter: grayscale(1);
        }
    }

    ion-searchbar {
        &.sc-ion-searchbar-md-h {
            --box-shadow: none;
        }
    }

    ion-input {
        &.legacy-input.sc-ion-input-md-h {
            --padding-start: 12px;
            --padding-end: 12px;
            --padding-top: 12px;
            --padding-bottom: 12px;
        }
    }

    ion-chip {
        margin: 0;
    }

    ion-textarea {
        &.legacy-textarea.sc-ion-textarea-md-h {
            margin: 0;
        }
    }

    ion-col {
        width: auto;
        max-width: none;
    }

    ion-searchbar {

        /* overall styles here */
        .searchbar-input-container {

            /* inner input styles here */
            .searchbar-input {
                font-family: "Nunito Sans", var(--ion-font-family);
            }
        }
    }

    ion-input {
        .native-input {
            font-family: "Nunito Sans", var(--ion-font-family) !important;
        }
    }

    ion-label {
        font-family: "Nunito Sans", var(--ion-font-family) !important;
    }

    //Modificar la escala de 0.75 a 1 para que los tamaños se asemejen a los del diseño
    .label-stacked.sc-ion-label-md-h {
        -webkit-transform: translateY(50%) scale(1) !important;
        transform: translateY(50%) scale(1) !important;
    }

}

    @mixin override-ionic-input-paddings($padding-top, $padding-bottom, $padding-left, $padding-right) {
        &.legacy-input.sc-ion-input-md-h {
            --padding-top: #{$padding-top}px;
            --padding-bottom: #{$padding-bottom}px;
            --padding-start: #{$padding-left}px;
            --padding-end: #{$padding-right}px;
        }
    }

    @mixin override-ionic-input-background($background) {
        &.legacy-input.sc-ion-input-md-h {
            --background: #{$background};
        }
    }

    @mixin override-ionic-input-button-margins($margin-top, $margin-bottom, $margin-left, $margin-right) {
        &.legacy-input.sc-ion-input-md-h>.input-clear-icon.sc-ion-input-md {
            margin-top: #{$margin-top}px;
            margin-bottom: #{$margin-bottom}px;
            margin-left: #{$margin-left}px;
            margin-right: #{$margin-right}px;
        }
    }
