@use "typography" as *;

.weekly-sales-detail {
    &__chip-selector {
        display: flex;
        gap: 12px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    &__chip {
        &.activated {
            color: var(--ob-theme-color-white);
            background-color: var(--ob-theme-color-primary);
        }
    }

    &__chart {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    &__spinner {
        display: flex;
        justify-content: center;
        height: 170px;
    }

    &__date-section {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__date-selector {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 100%;
        color: var(--ob-theme-color-primary);
        @include typography(h4-b);
    }

    &__date-chips {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
    }

    &__date-chip {
        flex: 1;
        justify-content: center;
        @include typography(b3-l);
    }

    &__date-chip-arrow {
        height: 30px;
        width: 30px;
        color: var(--ob-theme-color-primary);
    }
}

.skeleton {
    &__back-button {
        margin-top: 16px;
        margin-left: 20px;
        height: 22px;
        width: 60px;
    }

    &__header-info {
        height: 20px;
        width: 30%;
    }

    &__accordion {
        height: 16px;
        width: 60%;
    }
}
.text-amount-list{
    @include typography(b05-r);
    color: var(--ob-theme-color-black);
}

.text-currency-list{
    margin-left: .2em;
   @include typography(b1-r);
    color: var(--ob-theme-color-grey);
}
.summary-list{
    ion-label{
        margin-left: 1em;
        padding-left: .5em;
        @include typography(b2-r);
        color: var(--ob-theme-color-grey);
    }
}
.card-group{
    margin-bottom: 1em;
    margin-top: 2em;
    box-shadow: none;
    border: 1px solid #DADADA;
    height: 140px;
    padding: 8px 8px 12px 8px;
    border-radius: 12px;

    ion-card-header { position: relative }
    ion-card-description {
        max-width: 90%;
    }
    ion-card-title {
        color: #3ba0a8;
        font-size: larger;
        @include typography(h3-b);
    }
    ion-card-subtitle{
        @include typography(b2-r);
        color: var(--ob-theme-color-black);
    }

    ion-icon {
        margin-right: 0.1em;
        width: 24px;
        height: 24px;
        margin-bottom: -4px;
    }
    ion-card-content{
        display: flex;
        flex-direction: row;
        padding-inline-start: 0px;
        justify-content: space-between;
        padding-inline-end: 0px;
        padding-bottom: 0px;
        @include typography(b1-r);
        color: var(--ob-theme-color-black);


    }
    .text-amount{
       @include typography(h3-b);
        font-family: Montserrat;
        color: var(--ob-theme-color-black);
    }

    .text-currency{
       @include typography(h3-r);
        color: var(--ob-theme-color-grey);
        margin-left: 0.2em
    }
    .center-right{
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
        color: var(--ob-theme-color-primary);
        font-size: large;
    }
}
