<ion-header class="checkbox-list-typeahead__header">
    <ion-toolbar>
        <ion-searchbar class="checkbox-list-typeahead__header-search-bar" placeholder="{{ 'FILTERS.' + searchPlaceHolder | translate }}"
            (ionInput)="searchbarInput($event)" searchIcon="./assets/media/icons/lens.svg"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content color="light" class="checkbox-list-typeahead__content">
    <ion-list id="modal-list" [inset]="true" class="checkbox-list-typeahead__list">
        <ion-item class="checkbox-list-typeahead__item" *ngFor="let item of filteredItems; trackBy: trackItems">
            <ion-checkbox class="checkbox-list-typeahead__checkbox" [value]="item.value" [checked]="isChecked(item.value)"
                (ionChange)="checkboxChange($event)" justify="start" labelPlacement="end">
                {{ item.label }}
            </ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer class="checkbox-list-typeahead__footer">
    <ion-toolbar>
        <ion-button data-override-styles="" expand="full" class="ob-btn primary size--medium" (click)="save()">
            {{ "BUTTONS.SAVE" | translate }}
        </ion-button>
    </ion-toolbar>
</ion-footer>