:host {
    position: relative;
    contain: content;
    height: 80vh;
    margin: 0 -24px;
    padding: 0 24px;
}

.checkbox-list-typeahead {
    &__header {
        box-shadow: none;
        margin-bottom: 12px;
    }

    &__header-search-bar {
        padding: 0;
        --border-radius: 8px;
        --background: #ebf1f2;
        --color: #8d8d8f;
    }

    &__content {
        contain: content;
        overflow: auto;
    }

    &__content::part(scroll) {
        position: relative;
    }

    &__list {
        margin: 0;
        padding: 0;
    }

    &__item {
        border-top: 1px solid #dadada;
    }

    &__checkbox {
        --checkbox-background-checked: var(--ob-theme-color-primary);
        --border-color-checked: var(--ob-theme-color-primary);
        --size: 26px;
        height: 56px;
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        color: var(--ob-theme-color-black);
    }

    &__footer {
        box-shadow: none;
        border-top: 1px solid #dadada;
        margin-left: -24px;
        width: calc(100% + 48px);
        padding: 38px 24px;
    }
}
