@use "typography" as *;

.price-zone {
    &__content {
        display: flex;
        flex-direction: row;
        gap: 8px;
        flex-wrap: wrap;
    }

    &__card {
        display: flex;
        width: 100px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 8px;
        border-radius: 12px;
        border: 1px solid #E0E0E0;

        &-icon {
            width: 20px;
            height: 20px;
        }

        &-label {
            color: #8D8D8F;
            @include typography(b2-r);
        }

        &-value {
            color: #414141;
            @include typography(b2-r);
            line-height: 20px; /* 111.111% */
        }
    }

    &__card-total {
        display: flex;
        width: 100px;
        padding: 16px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 8px;
        height: 114px;
        border-radius: 12px;
        background: rgba(98, 90, 197, 0.10);

        &-label {
            color: #625AC5;
            text-align: right;
            @include typography(b2-b);
        }

        &-value {
            color: #625AC5;
            text-align: right;
            @include typography(b2-b);
            line-height: 20px; /* 111.111% */
        }
    }
}
