<ion-label *ngIf="priceAvailability">{{"SESSION_DETAIL.CHECK_OCCUPATION.CAPACITY"| translate}}</ion-label>
<div *ngIf="priceAvailability" class="price-zone__content">
    <ng-container *ngFor="let key of labels">
        <div class="price-zone__card" *ngIf="key !== 'total'">
            <ion-icon [src]="'./assets/media/icons/price-zone/'+key+'.svg'"></ion-icon>
            <ion-label class="price-zone__content-label">{{"SESSION_DETAIL.PRICE_ZONE." + (key | uppercase) | translate}}</ion-label>
            <ion-label class="price-zone__content-value">{{getValue(key)}}</ion-label>
        </div>
    </ng-container>
    <div class="price-zone__card-total">
        <ion-label class="price-zone__card-total-label">{{"SESSION_DETAIL.PRICE_ZONE.TOTAL"| translate}}</ion-label>
        <ion-label class="price-zone__card-total-value">{{getValue('total')}}</ion-label>
    </div>
</div>