@use "typography" as *;

.promotion-detail {
    &__header-promotion-type {
        border-radius: 4px;
        background-color: var(--ob-theme-color-bg-1);
        @include typography(b2-r);
        color: var(--ob-theme-color-black);
        margin-top: 10px;
        margin-left: 16px;
        display: inline-flex;
        padding: 4px 8px;
    }

    &__header-btn-icon {
        margin-right: 8px;
    }

    &__header-toggle {
        margin-left: auto;
    }

    &__accordion-content {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &--list {
            flex-direction: column;
        }
    }

    &__accordion-text-block {
        display: flex;
        flex-direction: column;

        &--list-item {
            flex-basis: auto;
            max-width: none;
        }
    }

    &__accordion-text-total {
        @include typography(b1-b);
        color: var(--ob-theme-color-accent);
    }

    &__accordion-text {
        font-family: Nunito Sans;
        &--title {
            @include typography(b2-r);
            color: var(--ob-theme-color-grey);
        }

        &--value {
            @include typography(b1-r);
            color: var(--ob-theme-color-black);
        }
    }

    &__accordion-divider {
        height: 1px;
        width: 100%;
        background-color: var(--ob-theme-color-grey-light-10);
        margin: 10px 0;
    }
}

.skeleton {
    &__back-button {
        margin-top: 16px;
        margin-left: 20px;
        height: 22px;
        width: 60px;
    }

    &__header-info {
        height: 20px;
        width: 30%;
    }

    &__accordion {
        height: 16px;
        width: 60%;
    }
}

ion-icon {
    vertical-align: bottom;
}
