$ob-white: var(--ob-theme-color-white);
$ob-menu-bg: var(--ob-theme-color-background-menu);

.reports {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $ob-menu-bg;

    form {
        text-align: center;
        padding: 20px 6px;

        .mat-mdc-button {
            height: 42px;
            width: 100%;
            padding: 0;
            font-size: 14px;
            color: $ob-white;
            border-radius: 2px;
            border: solid 1px $ob-white;
            background-color: transparent;
            gap: 0;

            .mat-icon {
                width: fit-content;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}