type: object
required:
  - price
  - commission
properties:
  enabled:
    type: boolean
  type:
    type: string
    enum:
      - EVENT
      - SESSION
  price:
    type: object
    properties:
      type:
        type: string
        enum:
          - PRICE_WITH_RESTRICTIONS
          - ORIGINAL_PRICE
          - UNRESTRICTED
      restrictions:
        type: object
        properties:
          min:
            type: number
            format: double
          max:
            type: number
            format: double
  commission:
    type: object
    properties:
      percentage:
        type: number
        format: double

