<ion-header class="ob-layout__header">
    <ion-toolbar>
        <ion-buttons slot="start">
            <back-button></back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content data-override-styles class="ob-layout__content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="forgot-password__form">
        <div class="form-content">
            <ion-text>
                <h1 data-override-styles class="forgot-password__title"> {{ "FORGOT-PASS.TITLE" | translate }}</h1>
            </ion-text>
            <ion-text>
                <p data-override-style class="forgot-password__text"> {{ "FORGOT-PASS.TEXT" | translate }} </p>
            </ion-text>
            <ion-item lines="none" class="forgot-password__input">
                <ion-label data-override-styles="" class="ob-input input-label" position="stacked">{{ "INPUTS.EMAIL" | translate }}*
                </ion-label>
                <ion-input fill="outline" class="ob-input" type="email" data-override-styles="" aria-label="Email"
                    placeholder="{{ 'INPUTS.EMAIL-PLACEHOLDER' | translate }}" [clearInput]="true" legacy="true" formControlName="email"
                    [ngClass]="{error: form.hasError('invalidEmail')}"></ion-input>
            </ion-item>
            <ion-button data-override-styles="" [disabled]="(reqInProgress$ | async) || !form.valid" class="ob-btn primary size--medium"
                type="submit">
                {{ "BUTTONS.SEND" | translate }}
            </ion-button>
            <ion-alert [isOpen]="alertOpen" header="{{ 'FORGOT-PASS.ALERT-TITLE' | translate }}"
                message="{{ 'FORGOT-PASS.ALERT-TEXT' | translate : { email: form.get('email').value } }}" [buttons]="alertButtons"
                data-override-styles="" class="ob-alert" expand="full">
            </ion-alert>
        </div>

    </form>
</ion-content>
<ion-footer class="ob-layout__footer"></ion-footer>
