@use "typography" as *;

.forgot-password {
    &__title {
        margin-bottom: 32px;
        text-align: center;
        color: var(--ob-theme-color-primary);
        @include typography(h2-b);
    }

    &__text {
        margin-bottom: 24px;
        text-align: center;
        color: var(--ob-theme-color-black);
        @include typography(b1-r);
    }

    &__form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__input {
        margin-bottom: 24px;
    }
}

.form-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &::part(scroll) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
