@use "typography" as *;

.home-page {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header-username {
        margin: 0;
        @include typography(h2-b);
        color: var(--ob-theme-color-black);
    }

    &__header-circle-monogram {
        min-width: 36px;
        min-height: 36px;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: var(--ob-theme-color-neutral);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--ob-theme-color-white);
        @include typography(circle-monogram-small);
    }

    &__search-bar-filter {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__search-bar {
        &[slot="fixed"] {
            width: 100%;
            top: 0;
            position: relative;
            display: flex;
            background-color: var(--ob-theme-color-white);
        }
    }

    &__header-search-bar {
        padding: 0;
        --border-radius: 8px;
        --background: #ebf1f2;
        --color: var(--ob-theme-color-grey);
    }

    &__qr-btn {
        position: absolute;
        z-index: 999;
        right: 16px;
        top: 4px;

        --padding-start: 0;
        --padding-end: 0;

        .qr-activated > & {
            display: block;
        }
    }

    &__chart {
        display: flex;
        flex-direction: column;
        gap: 24px;
        border-radius: 16px;
        padding: 24px 16px;
        margin-bottom: 32px;
        box-shadow: 0px 4px 10px 0px #214B4E26;

        .center-right{
            color: var(--ob-theme-color-primary);
            height: 20px;
            width: 20px;
            margin-bottom: -3px;
            float: right;
        }

    }

    &__chart-title {
        @include typography(h4-r);
        color: var(--ob-theme-color-black);
        padding: 0px 0px 0px 9px;
    }

    &__last-events-list {
        margin: 0 -24px;
    }

    &__last-events-title {
        display: block;
        @include typography(h3-r);
        color: var(--ob-theme-color-black);
        margin: 0 0 10px;
    }

    &__last-events-card {
        margin: 10px 24px;
        display: grid;
    }

    &__empty-results {
        height: 410px;
    }

    &__spinner {
        height: 170px;
    }
}

.card-group{
    margin-bottom: 1em;
    ion-card {
        margin-top: .5em;
        margin-bottom: .5em;
        border-radius: 12px;
        opacity: 0px;
        box-shadow: 0px 4px 10px 0px #214B4E26;
        height: 86px;
    }
    ion-card-header { 
        padding: 16px 24px;
        position: relative;
    }
    ion-card-subtitle{
        margin-top: 0px;
    }
    ion-card-description {
        max-width: 90%;
    }
    ion-card-title {
        color: var(--ob-theme-color-primary);
        @include typography(b05-b);

        ion-icon{
            width: 20px;
            height: 20px;
            margin-bottom: -3px;
            margin-right: 0.1em;
        }
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin: 0 auto;
      }

    .text-amount{
        @include typography(circle-monogram);
        color: var(--ob-theme-color-black);
    }

    .text-currency{
      @include typography(b2-r);
        color: var(--ob-theme-color-grey);
        margin-left:.2em

    }
    .center-right{
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
        color: var(--ob-theme-color-primary);
        font-size: large;
    }

    .card-primary{
        background: #F2F2FA;
        height: 96px;
        ion-card-title {
            color: var(--ob-theme-color-accent);
            @include typography(h3-b);
        }

        ion-icon{
            color: var(--ob-theme-color-accent);
            width: 20px;
            height: 20px;
        }
        .text-amount{
            
            @include typography(h2-b);
            color: var(--ob-theme-color-black);
        }

        .text-currency{
            @include typography(h3-r);
            color: var(--ob-theme-color-grey);
        }
    }      
}
