<div id="date-picker" class="date-picker">
    <div *ngIf="items && items.length>0" class="date-picker__separators"></div> 
    <ion-picker class="ob-picker">
        <div class="picker-columns">
            <ion-picker-column   [value]="selectedValue" (ionChange)="onIonChange($event)">
                @if(description){
                    <ion-picker-column-option  *ngFor="let item of items" [value]="item.id" >
                        {{item.label | translate}}
                    </ion-picker-column-option> 
                }@else {
                    <ion-picker-column-option  *ngFor="let item of items" [value]="item.value" >
                        {{item.label}}
                    </ion-picker-column-option> 
                }        
              </ion-picker-column>
        </div>
    </ion-picker>
    <ion-button data-override-styles="" class="ob-btn primary size--medium" (click)="pick()">
        {{ buttonLabel | translate }}
    </ion-button>
</div>