@mixin styles() {
    .ob-accordion-group {
        border-top: 1px solid #dadada;
    }

    .ob-accordion {
        &__title::part(native) {
            border-top: none;
            border-bottom: 1px solid #dadada;
        }

        &__title > .sc-ion-label-ios-h {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            color: var(--ob-theme-color-black);
        }

        & > &__title.activated::part(native) {
            border-bottom: 1px solid var(--ob-theme-color-primary);
        }

        & > &__title.activated .sc-ion-label-ios-h {
            font-weight: 700;
            color: var(--ob-theme-color-primary);
        }

        ion-icon {
            font-size: 20px;
            color: var(--ob-theme-color-black);
        }

        & > &__title.activated ion-icon {
            color: var(--ob-theme-color-primary);
        }

        &__content {
            padding: 16px 0;
        }
    }
}
