@use "./buttons";

@mixin styles() {
    ion-alert[data-override-styles].ob-alert {
        & .alert-wrapper {
            border-radius: 16px;
            padding: 24px 27px;
        }
        & .alert-head {
            padding: 0;
        }

        & .alert-head h2 {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: var(--ob-theme-color-black);
            text-align: center;
            margin-bottom: 20px;
        }

        & .alert-message {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: var(--ob-theme-color-gray);
            text-align: center;
        }

        & .alert-button-group {
            display: flex;
            justify-content: space-between;
            padding: 0;
            gap: 10px;
        }

        & .alert-button-group > .alert-button {
            margin: 0;
            flex-grow: 1;
        }

        & .alert-button-group > .alert-button > span {
            text-align: center;
            justify-content: center;
        }

        &.alert-warning {
            & .alert-head {
                position: relative;
            }
            & .alert-head::before {
                content: "";
                display: block;
                position: absolute;
                height: 10px;
                top: -24px;
                left: -27px;
                right: -27px;
                background: var(--ob-theme-color-alert);
            }

            & .alert-title {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            & .alert-title::before {
                content: url("../../../media/icons/warning-yellow.svg");
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-bottom: 20px;
            }
        }
    }
}
