@use "../../typography" as *;

@mixin styles() {
    ion-button.ob-btn {
        &.size {
            &--small {
                height: 40px;
            }
            &--medium {
                height: 48px;
            }
        }

        &::part(native) {
            @include typography(btn);
            text-transform: none;
            border-radius: 8px;
            color: var(--ob-theme-color-white);
            padding: 8px 16px;
            box-shadow: none;
        }

        &.primary::part(native) {
            background: var(--ob-theme-color-primary);
        }
        &.primary:active::part(native) {
            background: var(--ob-theme-color-secondary);
        }

        &.primary.button-disabled::part(native) {
            background: var(--ob-theme-color-grey-light-20);
        }

        &.secondary::part(native) {
            background: var(--ob-theme-color-white);
            color: var(--ob-theme-color-primary);
            border: 1px solid var(--ob-theme-color-primary);
        }
        &.secondary:active::part(native) {
            background: var(--ob-theme-color-primary-50);
            color: var(--ob-theme-color-secondary);
            border: 1px solid var(--ob-theme-color-secondary);
        }

        &.secondary.button-disabled::part(native) {
            color: var(--ob-theme-color-grey-light-20);
            border-color: var(--ob-theme-color-grey-light-20);
        }

        &.ghost::part(native) {
            background: transparent;
            color: var(--ob-theme-color-black);
        }
        &.ghost:active::part(native) {
            background: var(--ob-theme-color-grey-light-10);
            color: var(--ob-theme-color-black);
        }
        &.ghost.button-disabled::part(native) {
            background: transparent;
            color: var(--ob-theme-color-grey-light-20);
        }
    }

    button.ob-btn,
    button.ob-btn[data-override-styles] {
        @include typography(btn);
        text-transform: none;
        border-radius: 8px;
        color: var(--ob-theme-color-white);
        padding: 8px 16px;
        box-shadow: none;

        &.size {
            &--small {
                height: 40px;
            }
            &--medium {
                height: 48px;
            }
        }

        &.primary {
            background: var(--ob-theme-color-primary);
        }

        &.primary:active {
            background: var(--ob-theme-color-secondary);
        }
        &.primary:disabled {
            background: var(--ob-theme-color-grey-light-20);
        }

        &.ghost {
            background: transparent;
            color: var(--ob-theme-color-black);
        }
        &.ghost:active {
            background: var(--ob-theme-color-grey-light-10);
            color: var(--ob-theme-color-black);
        }
        &.ghost:disabled {
            background: transparent;
            color: var(--ob-theme-color-grey-light-20);
        }
    }
}
