@mixin styles() {
    .ob-native-card[data-override-styles] {
        .title {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: var(--ob-theme-color-black);
            margin: 0;
        }

        .text {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: var(--ob-theme-color-black);
            margin: 0;
        }

        .label {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: var(--ob-theme-color-grey);
        }
    }
}
