@mixin styles() {
    ion-input.ob-input,
    ion-textarea.ob-input {
    margin: 0;
    min-height: 44px;
    width: 100%;
    border: 1px solid var(--ob-theme-color-grey-light-20);
    border-radius: 8px;
    color: var(--ob-theme-color-black);
    --highlight-color: var(--ob-theme-color-black);
    --highlight-color-focused: var(--ob-theme-color-black);
    --highlight-color-valid: var(--ob-theme-color-black);
    --highlight-color-invalid: var(--ob-theme-color-black);
    --placeholder-color: var(--ob-theme-color-grey);
    --placeholder-font-weight: 400;

    &.error {
        border: 1px solid #ff5209;
    }

    &.search-bar {
        height: 42px;
        border: 0;
        background-color: #ebf1f2;
        &::placeholder {
        /* Set the maximum width and enable text truncation */
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        }
    }
    &.legacy-input button.input-clear-icon {
        margin-right: 12px;
    }
    input.native-input {
        min-height: 48px;
    }
    button.input-clear-icon {
        min-width: 48px;
        min-height: 48px;
    }
    }

    ion-label[data-override-styles].ob-input.input-label {
    color: var(--ob-theme-color-black);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;

    .ion-invalid.ion-touched & {
        color: var(--ob-theme-color-black);
    }

    .item-has-focus & {
        color: var(--ob-theme-color-black);
    }
    }
}
