ion-modal[data-override-styles].ob-modal {
    --height: auto;

    &::part(content) {
        border-radius: 16px 16px 0px 0px;
        overflow: hidden;
    }

    & .ion-page {
        padding: 35px 24px;
    }
}
