@mixin styles() {
    .ob-search-bar {
        height: 42px;
        padding: 0;
        --border-radius: 8px;
        --background: #ebf1f2;
        --color: #8d8d8f;
        &:not(.searchbar-has-focus) .searchbar-input {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-inline-end: 16px;
        }

        &.qr:not(.searchbar-has-focus) .searchbar-input {
            padding-inline-end: 32px;
        }

        & .searchbar-input:focus::placeholder {
            color: transparent;
        }
    }
}
