@mixin styles() {
    .ob-toast {
        &::part(container){
            border-radius: 6px;
        }

        &::part(icon){
            margin-inline-start: 0;
            height: 100%;
            padding-inline: 8px;
        }

        &::part(message){
            font-family: Nunito Sans;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0em;
        }

        &--success {
            &::part(container){
                background-color: var(--ob-theme-color-success);
            }

            &::part(icon){
                background-color: var(--ob-theme-color-success-darker);
            }

            &::part(message) {
                color: var(--ob-theme-color-white);
            }
        }

        &--error {
            &::part(container){
                background-color: var(--ob-theme-color-warn);
            }

            &::part(icon){
                background-color: var(--ob-theme-color-warn-darker);
            }

            &::part(message) {
                color: var(--ob-theme-color-white);
            }
        }

    }
}
