
:host {
  width: 100%;
}

.session-card {
  ion-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
  }

  &__right-content {
    display: flex;
    flex-direction: row;
    align-self: center;

    ion-text {
      display: flex;
      width: 30px;
      height: 30px;
      padding: 2px 4px;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .status-sale {
      border-radius: 6px;
      border: 1px solid var(--semantic-colors-success-dark, #1EB32F);
      background: var(--semantic-colors-success-light, #E8F9EB);
    }

    .status-release {
      margin-left: 6px;
      border-radius: 6px;
      border: 1px solid #607D8B;
      background: var(--background-white, #FFF);
    }
  }

  &__left-content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  &__status {
    padding: 4px 8px;
    border-radius: 4px;
  }

  &__title {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    color: var(--ob-theme-color-black);
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
  }

  &__subtitle {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    color: var(--ob-theme-color-black);
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
  }

  &__bottom-content {
    ion-icon {
      font-size: 20px;
    }

    ion-text {
      width: 75%;
    }

    .label {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;

      color: var(--ob-theme-color-gray);
      font-family: Nunito Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 128.571% */
    }
  }

}
