<ion-card data-override-styles class="ob-native-card session-card" (click)="onTap()">
    <ion-card-content>
        <div class="session-card__left-content">
            <div class="session-card__content">
                <ion-text>
                    <p class="title session-card__title">
                        {{ this.session.name }}
                    </p>
                </ion-text>
            </div>
            <div class="session-card__content">
                <ion-text>
                    <p class="session-card__subtitle">
                        {{ this.session.venue_template.venue.name }}
                    </p>
                </ion-text>
            </div>
            <div class="session-card__bottom-content">
                <ion-text>
                    <span class="label">
                        {{this.session.start_date | dateTime : this.getFormattedDate }}
                    </span>
                </ion-text>
            </div>
        </div>
        <div class="session-card__right-content">
            <div class="status-sale">
                <ion-text>
                    <span class="text event-card__status">
                        {{ "EVENT_DETAIL.SESSION_CARD.SALE_STATUS." + this.session.sale | translate }}
                    </span>
                </ion-text>
            </div>

            <div class="status-release">
                <ion-text>
                    <span class="text event-card__status">
                        {{ "EVENT_DETAIL.SESSION_CARD.RELEASE_STATUS." + this.session.release | translate }}
                    </span>
                </ion-text>
            </div>
        </div>
    </ion-card-content>
</ion-card>