:host {
    width: 100%;
}
.skeleton-card {
    ion-card-content {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    &__top-content {
        display: flex;
        justify-content: space-between;
    }
}
