<ion-card data-override-styles class="ob-native-card skeleton-card">
    <ion-card-content>
        <ion-label>
            <div class="skeleton-card__top-content">
                <span>
                    <ion-skeleton-text [animated]="true" style="width: 50px"></ion-skeleton-text>
                </span>
                <span>
                    <ion-skeleton-text [animated]="true" style="width: 100px"></ion-skeleton-text>
                </span>
            </div>
            <h3>
                <ion-skeleton-text [animated]="true" style="width: 80%"></ion-skeleton-text>
            </h3>
            <p>
                <ion-skeleton-text [animated]="true" style="width: 60%"></ion-skeleton-text>
            </p>
            <p>
                <ion-skeleton-text [animated]="true" style="width: 30%"></ion-skeleton-text>
            </p>
        </ion-label>
    </ion-card-content>
</ion-card>