@use "typography" as *;

:host {
    width: 100%;
}

.ticket-card {
    &__content {
        display: flex;
        flex-direction: column;
    }

    &__color-bar {
        height: 8px;
        width: 32px;
        border-radius: 8px;
        margin-bottom: 8px;

        &.validated {
            background-color: #1eb32f;
        }
        &.not-validated {
            background-color: #ff5209;
        }
        &.hidden {
            display: none;
        }
    }

    &__code {
        @include typography(b1-b);
        color: var(--ob-theme-color-black);
        margin-bottom: 4px;
    }

    &__title {
        @include typography(b2-b);
        color: var(--ob-theme-color-black);
        margin-bottom: 4px;
    }

    &__session {
        display: flex;
        gap: 1px;
        @include typography(b2-r);
        color: var(--ob-theme-color-black);
        margin-bottom: 12px;
    }

    &__session-title {
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__session-date {
        white-space: nowrap;
    }

    &__purchase-date-and-channel {
        display: flex;
        gap: 20px;

        &--label {
            @include typography(b2-r);
            color: var(--ob-theme-color-grey);
        }

        &--value {
            @include typography(b1-r);
            color: var(--ob-theme-color-black);
        }
    }

    &__purchase-date-and-channel > * {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}
