type: object
properties:
  percentage:
    type: number
    format: float
    example: 10.1
  fixed:
    type: number
    format: float
    example: 1
  min:
    type: number
    format: float
    example: 1.2
  max:
    type: number
    format: float
    example: 5.2