.global-search {
    &__toolbar-content {
        margin-top: 20px;
        position: relative;
        display: flex;
        gap: 6px;
        padding-bottom: 20px;
    }

    &__qr-btn {
        display: none;
        position: absolute;
        z-index: 999;
        right: 32px;
        top: 4px;

        --padding-start: 0;
        --padding-end: 0;

        .qr-activated & {
            display: block;
        }
    }

    &__result-block-title {
        font-family: "Montserrat";
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--ob-theme-color-black);
    }

    &__result-block-info {
        display: flex;
        font-family: "Montserrat";
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0;
        color: var(--ob-theme-color-grey);

        & span {
            display: flex;
            align-items: center;
        }
    }

    &__result-block-info-icon {
        font-size: 18px;
        color: var(--ob-theme-color-primary);
    }

    &__ticket-list {
        margin: 0 -24px;
    }

    &__ticket-card {
        margin: 8px 24px;
        display: grid;
    }
}
