<div id="date-picker" class="date-picker" fullscreen="true">
  <div class="date-picker__separators">
    <div class="date-picker__separator" ><span>-</span></div>
  </div> 
    <ion-picker>
        <div class="picker-columns">
            <ion-picker-column style="margin-right: 50px;"  [value]="currentValueMonth" (ionChange)="onIonChangeMonth($event)">
                <ion-picker-column-option  *ngFor="let month of pickerColumns[0].options" [value]="month.value" >
                 {{month.text}}
                </ion-picker-column-option>         
              </ion-picker-column>
            <ion-picker-column    [value]="currentValueYear" (ionChange)="onIonChangeYear($event)">
                <ion-picker-column-option  *ngFor="let year of pickerColumns[1].options" [value]="year.value" >
                    {{year.text}}
                </ion-picker-column-option>           
              </ion-picker-column>
        </div>
    </ion-picker>
      <div class="date-picker__date-info">
        <span>{{ this.stringDate }}</span>
    </div>
      <ion-button data-override-styles="" class="ob-btn primary size--medium" (click)="onSave()">
        {{ "DATE-PICKER.BTN" | translate }}
    </ion-button>
</div>