.date-picker {
    height: auto;
    max-width: 380px;
    contain: content;
    position: relative;
    contain: content;
    display: flex;
    flex-direction: column;
    &__date-info {
        padding: 19px 0;
        display: flex;
        justify-content: center;
        border-top: 1px solid var(--ob-theme-color-grey-light-10);
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        color: var(--ob-theme-color-black);
    }    

    &__separators {
        position: absolute;
        width: 100%;
        top: 89px;
        z-index: 99999;
        display: flex;
        border-top: 1px solid var(--ob-theme-color-grey-light-20);
        margin: -8px;
        border-bottom: 1px solid var(--ob-theme-color-grey-light-20);
        min-height: 37px;
      }
    
      &__separator {
        width: 100%;
        position: relative;
        top:6px;
    
        & span {
          position: absolute;
          text-align: center;
          width: 10px;
          right: 129px;
          color: var(--ob-theme-color-primary);
          font-size: 16.2px;
          font-weight: 700;
        }
      }
}

.picker-columns{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;    
}

ion-picker-column-option{
    font-size: 16.2px;
   
}

