@use "typography" as *;

.events-page {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header-username {
        margin: 0;
        @include typography(h2-b);
        color: var(--ob-theme-color-black);
    }

    &__header-circle-monogram {
        min-width: 36px;
        min-height: 36px;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: var(--ob-theme-color-neutral);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--ob-theme-color-white);
        @include typography(circle-monogram-small);
    }

    &__search-bar-filter {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__header-search-bar {
        padding: 0;
        --border-radius: 8px;
        --background: #ebf1f2;
        --color: #8d8d8f;
    }

    &__search-bar {
        &[slot="fixed"] {
            width: 100%;
            top: 0;
            padding: 16px 16px 16px 24px;
            position: relative;
            display: flex;
            background-color: var(--ob-theme-color-white);
        }

        .btn-filter {
            --padding-end: 8px;
            --padding-start: 8px;
        }
    }

    &__search-content {
        padding-top: 48px;
    }

    &__result-block-title {
        @include typography(h3-r);
        color: var(--ob-theme-color-black);
    }

    &__result-block-info {
        display: flex;
        flex-direction: column;
        @include typography(b1-r);
        color: var(--ob-theme-color-grey);

        & span {
            display: flex;
            align-items: center;
            margin-top: 6px;
        }
    }

    &__event-list {
        margin: 0 -24px;
    }

    &__event-card {
        margin: 8px 24px;
        display: grid;
    }

    &__filters {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        margin-left: -24px;
        margin-right: -24px;
        padding: 16px 24px 16px 24px;
        gap: 6px;

        &-filter-label {
            color: #8d8d8f;
            @include typography(b1-b);
            margin-right: 6px;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        ion-col {
            padding-left: 5px;
            right: 5px;
            padding: 0;
        }

        ion-chip {
            height: 30px;

            ion-label {
                @include typography(b3-r);
                white-space: nowrap;
                min-width: max-content;
            }
        }
    }
}

static-view {
    margin-top: 64px;
}
