@use "../../../assets/sass/_typography.scss" as *;

.channel-detail-page {
    &__accordion-content {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        &--list {
            flex-direction: column;
        }
    }

    &__accordion-list-item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 12px;
        justify-content: space-around;
        padding: 12px 0;

        &:not(&:last-child) {
            border-bottom: 1px solid var(--ob-theme-color-grey-light-20);
        }

        &-text-container {
            display: flex;
            flex: 1;
            flex-direction: column;
        }

        ion-label {
            font-weight: 700;
            margin-bottom: 8px;
        }

        &-text {
            color: var(--ob-theme-color-black);
            @include typography(b1-l);

            &:not(&:last-child) {
                margin-bottom: 8px;
            }

            b {
                @include typography(b1-b);
            }
        }

        &-quota-template {
            margin-top: 16px;
            &-option {
                margin-left: 16px;
            }
        }

        &__template-name {
            @include typography(b1-l);
            font-weight: 700;
            margin-bottom: 8px;
            border-bottom: 1px solid var(--ob-theme-color-grey-light-20);
            padding: 8px 0;
        }
    }

    &__accordion-text-block {
        flex-basis: calc(100% - 6px);
        max-width: calc(100% - 6px);
        display: flex;
        flex-direction: column;

        &--list-item {
            flex-basis: auto;
            max-width: none;
        }

        &:not(&--list-item) > * {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.skeleton {
    &__back-button {
        margin-top: 16px;
        margin-left: 20px;
        height: 22px;
        width: 60px;
    }

    &__header-info {
        height: 20px;
        width: 30%;
    }

    &__accordion {
        height: 16px;
        width: 60%;
    }
}
