@use "typography" as *;

.sales-page {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header-username {
        margin: 0;
        @include typography(h2-b);
        color: var(--ob-theme-color-black);
    }

    &__header-circle-monogram {
        min-width: 36px;
        min-height: 36px;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: var(--ob-theme-color-neutral);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--ob-theme-color-white);
        @include typography(circle-monogram-small);
    }

    &__segment {
        margin-top: 16px;
        margin-left: -24px;
        width: calc(100% + 48px);
        border-bottom: 1px solid var(--ob-theme-color-grey-light-20);
        padding: 0 24px;
    }

    &__segment-selector {
        display: flex;
        justify-content: flex-start;
    }

    &__segment-option {
        width: 112px;
        color: var(--ob-theme-color-black);
        min-height: auto;
        --ripple-color: transparent;
        letter-spacing: 0;

        &:not(.segment-button-checked) {
            color: #8d8d8f;
        }

        &::part(native) {
            padding: 0;
        }
    }

    &__segment-label {
        @include typography(b1-r);
        text-transform: none;
        margin-top: 0;
        margin-bottom: 6px;
    }

    &__search-bar-filter {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__search-bar {
        &[slot="fixed"] {
            width: 100%;
            top: 0;
            padding: 12px 0;
            position: relative;
            display: flex;
            align-items: center;
            background-color: var(--ob-theme-color-white);
        }

        .btn-filter {
            --padding-end: 8px;
            --padding-start: 8px;
        }

        .btn-calendar {
            --padding-end: 0;
            --padding-start: 8px;
        }
    }

    &__qr-btn {
        display: none;
        position: absolute;
        z-index: 999;
        right: 8px;

        --padding-start: 0;
        --padding-end: 0;

        &.qr-active {
            display: block;
        }
    }

    &__kpis {
        margin-left: -24px;
        margin-right: -24px;
        padding: 6px 24px 6px 24px;
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
        min-height: 75px;
        overflow-x: auto;
        align-items: center;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__kpi {
        border-radius: 12px;
        border: 1px solid var(--ob-theme-color-grey-light-10);
        display: flex;
        flex-direction: column;
        padding: 8px 12px;

        &--skeleton {
            width: 100px;
        }
    }

    &__kpi-amount {
        @include typography(b1-b);
        color: var(--ob-theme-color-accent);
    }

    &__kpi-title {
        @include typography(b2-r);
        color: var(--ob-theme-color-black);
        white-space: nowrap;
    }

    &__result-block-title {
        @include typography(h3-r);
        color: var(--ob-theme-color-black);
    }

    &__result-block-info {
        display: flex;
        flex-direction: column;
        @include typography(b1-r);
        color: var(--ob-theme-color-grey);

        & span {
            display: flex;
            align-items: center;
            margin-top: 6px;
        }
    }

    &__result-block {
        &-block-title {
            @include typography(h3-r);
            color: var(--ob-theme-color-black);
        }

        &block-info {
            display: flex;
            @include typography(b1-r);
            color: var(--ob-theme-color-grey);

            & span {
                display: flex;
                align-items: center;
                margin-top: 6px;
            }
        }
    }

    &__list {
        margin: 0 -24px;
    }

    &__card {
        margin: 8px 24px;
        display: grid;
    }

    &__filters {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        margin-left: -24px;
        margin-right: -24px;
        padding: 6px 24px 6px 24px;
        margin-bottom: 20px;
        gap: 6px;

        &-filter-label {
            color: #8d8d8f;
            @include typography(b1-b);
            margin-right: 6px;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        ion-col {
            padding-left: 5px;
            right: 5px;
            padding: 0;
        }

        ion-chip {
            height: 30px;

            ion-label {
                @include typography(b3-r);
                white-space: nowrap;
                min-width: max-content;
            }
        }
    }
}

.back-icon {
    font-size: 30px;
    color: var(--ob-theme-color-primary);
}
