@use "typography" as *;

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.language-selector {
    &::part(scroll) {
        justify-content: space-between;
        height: 100%;
    }
    &__scroll-content::part(scroll) {
        margin: 0 -24px;
        padding: 0 24px;
    }

    &__options {
        margin-bottom: 24px;
    }

    &__option {
        height: 70px;
        display: flex;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--ob-theme-color-grey-light-10);
        color: var(--ob-theme-color-black);
    }

    &__option-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--left {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
    }

    &__option-icon {
        color: var(--ob-theme-color-primary);
    }

    &__language {
        @include typography(b1-b);

        .selected & {
            color: var(--ob-theme-color-primary);
        }
        & .skeleton-text-animated {
            height: 16px;
            width: 80px;
        }
    }

    &__language-translated {
        @include typography(b2-l);

        & .skeleton-text-animated {
            height: 14px;
            width: 80px;
        }
    }
}
