type: object
properties:
  categories:
    type: object
    properties:
      base:
        type: object
        properties:
          id:
            type: integer
      custom:
        type: object
        properties:
          id:
            type: integer
  tax_mode:
    type: string
    enum:
      - INCLUDED
      - ON_TOP