type: object
properties:
  categories:
    type: object
    properties:
      base:
        type: object
        properties:
          id:
            type: integer
          description:
            type: string
          code:
            type: string
      custom:
        type: object
        properties:
          id:
            type: integer
          description:
            type: string
          code:
            type: string
      tax_mode:
        type: string
        enum:
          - INCLUDED
          - ON_TOP