<ng-container *ngIf="sectionList$ | async as sectionList">
    <ion-tabs  data-override-styles class="ob-tabs">
        <ion-tab-bar *ngIf="sectionList[0].visible" slot="bottom">
            <ng-container *ngFor="let list of sectionList">
                <ion-tab-button  *ngIf="list.visible" [tab]="list.tab" >
                    <ion-icon  aria-hidden="true" [src]="list.icon"></ion-icon>
                    <ion-label> {{list.label | translate}}</ion-label>
                </ion-tab-button>
            </ng-container>     
        </ion-tab-bar>
    </ion-tabs>  
</ng-container>      