
.ob-tabs[data-override-styles] {
    ion-label {
        font-weight: 500;
    }

    ion-tab-button.tab-selected {
        ion-label {
            font-weight: 700;
            color: var(--ob-theme-color-primary);
        }
        ion-icon {
            color: var(--ob-theme-color-primary);
        }
    }
}
