@use "../../../../assets/sass/_typography.scss" as *;

:host {
    width: 100%;
}

.channel-event-card {
    border-radius: 0;
    box-shadow: none;

    &__content {
        display: flex;
        align-items: center;
        padding: 16px 0;
    }

    &__block-icon {
        align-self: flex-start;
        min-width: 32px;
    }

    &__star {
        width: 20px;
        height: 20px;
    }

    &__block {
        display: flex;
    }

    &__text-block {
        flex-direction: column;
        gap: 4px;
        overflow: hidden;
        width: 80%;

        & > *:last-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &--regular {
            @include typography(b2-r);
            color: var(--ob-theme-color-grey);
        }

        &--bold {
            @include typography(b1-b);
            color: var(--ob-theme-color-black);
        }
    }

    &__block-status {
        gap: 4px;
    }

    &__block-status-item {
        @include typography(status-indicator);
        border-width: 1px;
        border-style: solid;
        border-radius: 6px;
        padding: 7px 9px;

        &--rejected,
        &--finished {
            color: #384951;
            background-color: #d7dbdc;
        }

        &--pending {
            color: #ff8200;
            background-color: #ffe6cc;
        }

        &--cancelled {
            color: #e51c23;
            background-color: #fad2d3;
        }

        &--success {
            color: #259b24;
            background-color: #d3ebd3;
        }

        &--neutral {
            color: var(--ob-theme-color-neutral);
            background-color: var(--ob-theme-color-white);
            border-color: var(--ob-theme-color-neutral);
        }
    }

    &__arrow {
        font-size: 18px;
        color: var(--ob-theme-color-primary);
    }
}
