<ion-card data-override-styles class="ob-native-card channel-event-card" (click)="goToEventChannelDetail()">
    <ion-card-content class="channel-event-card__content">
        <div class="channel-event-card__block channel-event-card__block-icon">
            <ion-icon *ngIf="channel.channel.favorite" class="channel-event-card__star" src="./assets/media/icons/star.svg"></ion-icon>
        </div>
        <div class="channel-event-card__block channel-event-card__text-block">
            <span class="channel-event-card__text-block--bold">{{channel.channel.name}}</span>
            <span class="channel-event-card__text-block--regular">{{channel.channel.entity.name}}</span>
        </div>
        <div class="channel-event-card__block channel-event-card__block-status">
            <span class="channel-event-card__block-status-item"
                [ngClass]="'channel-event-card__block-status-item--' +
                getReleaseStatusIndicator(channel.status.request, channel.status.release)">
                {{('EVENT_DETAIL.CHANNEL_EVENT_CARD.RELEASE_STATE' | translate).substring(0, 1)}}
            </span>
            <span class="channel-event-card__block-status-item"
                [ngClass]="'channel-event-card__block-status-item--' +
                getReleaseStatusIndicator(channel.status.request, channel.status.release)">
                {{('EVENT_DETAIL.CHANNEL_EVENT_CARD.SALE_STATE' | translate).substring(0, 1)}}
            </span>
        </div>

        <div class="channel-event-card__block channel-event-card__block-arrow">
            <ion-icon name="chevron-forward-outline" class="channel-event-card__arrow"></ion-icon>
        </div>
    </ion-card-content>
</ion-card>