@use "typography" as *;

:host {
    width: 100%;
}
.event-card {
    ion-card-content {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    &__top-content {
        display: flex;
        justify-content: space-between;

        & .label {
            @include typography(b2-r);
        }
    }

    &__status {
        @include typography(b2-r);
        padding: 4px 8px;
        border-radius: 4px;
        text-wrap: nowrap;

        &.planned {
            background-color: #d9f6f8;
        }
        &.in-programming {
            background-color: #feebd5;
        }
        &.ready {
            background-color: #ddf4e1;
        }
        &.not-accomplished {
            background-color: #e9dff6;
        }
        &.cancelled {
            background-color: #f8dede;
        }
        &.finished {
            background-color: #eaeaea;
        }
    }

    &__title {
        @include typography(b1-b);
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__bottom-content {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__bottom-content ion-icon {
        font-size: 20px;
    }

    &__bottom-content ion-text {
        width: 75%;
        display: flex;
    }
    &__bottom-content .label {
        @include typography(b2-r);
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
    }
}
