<ion-card data-override-styles class="ob-native-card event-card" (click)="onTap()">
    <ion-card-content>
        <div class="event-card__top-content">
            <ion-text>
                <span class="label"> {{this.event.start_date | dateTime : "DD/MM/yyyy HH:mm" }}</span>
            </ion-text>
            <ion-text>
                <span class="text event-card__status" [ngClass]="getCssClass">
                    {{ "EVENTS.STATUS_" + this.event.status | translate }}
                </span>
            </ion-text>
        </div>
        <div class="event-card__content">
            <ion-text>
                <p class="title event-card__title"> {{ this.event.name }} </p>
            </ion-text>
        </div>
        <div class="event-card__bottom-content">
            <ion-icon src="./assets/media/icons/location.svg"></ion-icon>
            <ion-text class="event-card__bottom-content-text"><span class="label">{{ listOfLocations }}</span></ion-text>
        </div>
    </ion-card-content>
</ion-card>