type: object
properties:
  pointGain:
    type: object
    properties:
      amount:
        type: integer
      type:
        type: string
        enum:
          - SESSION_PURCHASED
          - TICKET_PURCHASED