:host {
    width: 100%;
}

.promotion-card {
    border-radius: 0;
    box-shadow: none;

    &__content {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: space-between;
        padding: 16px 0;
    }
    &__block:first-of-type {
        flex-basis: 60%;
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-family: Nunito Sans;
        letter-spacing: 0em;
        overflow: hidden;

        & > *:last-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &--light {
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            color: var(--ob-theme-color-grey);
        }

        &--bold {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            color: var(--ob-theme-color-black);
        }
    }

    &__status-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-width: 1px;
        border-style: solid;
        border-radius: 6px;
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;

        &--active {
            border-color: var(--ob-theme-color-success-darker);
            color: var(--ob-theme-color-success-darker);
            background-color: var(--ob-theme-color-success-lighter);
        }

        &--inactive {
            border-color: var(--ob-theme-color-warn-darker);
            color: var(--ob-theme-color-warn-darker);
            background-color:  var(--ob-theme-color-warn-lighter);
        }
    }

    &__arrow {
        font-size: 18px;
        color: var(--ob-theme-color-primary);
    }
}
