@use './components/table' as table;
@use './components/badge' as badge;

@mixin shi-material-components-override($palettes, $colors, $typography) {
    @include table.shi-table-override($palettes, $colors, $typography);
    @include badge.shi-badge-override($palettes, $colors, $typography);
}
