:host {
  width: 100%;
}

.ticket-detail-card {
  font-family: Nunito Sans;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--no-wrap {
      flex-wrap: nowrap;
    }
  }

  &__number-prints {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    color: var(--ob-theme-color-tertiary);
  }

  &__color-bar {
    height: 8px;
    width: 32px;
    border-radius: 8px;
    margin-bottom: 8px;

    &.validated {
      background-color: #1eb32f;
    }
    &.not-validated {
      background-color: #ff5209;
    }
    &.hidden {
      display: none;
    }
  }

  &__code {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    color: var(--ob-theme-color-black);
    margin-top: 8px;
    margin-bottom: 4px;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    max-width: 30%;
  }

  &__text-block-title {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--ob-theme-color-grey);
  }
  &__text-block-value {
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--ob-theme-color-black);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
