@use "typography" as *;

.events-detail-page {
    &__content {
        &-dates-events {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        &-dates-events {
            ion-text {
                color: var(--ob-theme-color-grey);
                @include typography(b2-r);
                text-transform: uppercase;

                span {
                    @include typography(b2-r);
                    color: var(--ob-theme-color-black);
                }
            }
        }

        &-tabs {
            ion-segment {
                margin-top: 16px;
                margin-left: -24px;
                margin-right: -24px;
                padding: 0px 24px 0px 24px;

                &::-webkit-scrollbar {
                    display: none;
                }

                ion-segment-button {
                    color: var(--ob-theme-color-black);
                    @include typography(b2-r);
                    --ripple-color: transparent;
                    border-bottom: solid 1px #bbb;
                    letter-spacing: 0;
                    min-height: auto;

                    &:not(.segment-button-checked) {
                        color: #8d8d8f;
                    }
                }
            }
        }
    }

    &__segment-label {
        @include typography(b1-r);
        text-transform: capitalize;
        margin-top: 0;
        margin-bottom: 6px;
    }
}
