<ion-header class="ob-layout__header onboarding__header">
    <ion-toolbar>
        <ion-buttons *ngIf="backButtonActivated" slot="start">
            <ion-button (click)="onBackSlide()" class="onboarding__back-btn" fill="clear">
                <ion-icon class="icon" name="chevron-back-outline" />
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="onSkip()" class="onboarding__skip-btn" fill="clear">{{"ONBOARDING.SKIP" | translate}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ob-layout__content onboarding__content">
    <swiper-container #swiper [pagination]="true" [speed]="500" (swiperslidechange)="onSlideChange($event)">
        <swiper-slide>
            <slide1 />
        </swiper-slide>
        <swiper-slide>
            <slide2 />
        </swiper-slide>
        <swiper-slide>
            <slide3 />
        </swiper-slide>
        <swiper-slide>
            <slide4 />
        </swiper-slide>
    </swiper-container>
</ion-content>