@use "typography" as *;

.onboarding {
    &__back-btn {
        height: 48px;
        width: 48px;
        .icon {
            color: var(--ob-theme-color-primary);
            height: 32px;
            width: 32px;
        }
    }

    &__skip-btn {
        text-transform: none;
        min-height: 48px;
        color: var(--ob-theme-color-primary);
        @include typography(h3-b);
    }
}

swiper-container {
    width: 100%;
    height: 100%;

    &::part(pagination) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &::part(bullet) {
        height: 10px;
        width: 10px;
        background-color: #76bdc2;
    }

    &::part(bullet-active) {
        height: 15px;
        width: 15px;
        background-color: var(--ob-theme-color-primary);
    }
}

swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
