@use "typography" as *;

.ob-layout__content::part(scroll) {
    justify-content: space-between;
    gap: 36px;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__logo {
        z-index: 1;
        height: 55px;
        margin: 50px auto 36px;
    }

    &__title {
        color: var(--ob-theme-color-primary);
        @include typography(h2-b);
        margin: 0px;
    }

    &__text {
        color: var(--ob-theme-color-black);
        @include typography(b1-r);
        margin: 0px;
    }

    &__password-help {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__help-container {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__help-item {
        color: var(--ob-theme-color-black);
        @include typography(b3-r);
        margin: 0;

        &.error {
            color: var(--ob-theme-color-warn);
        }
    }

    &__copy-and-terms {
        text-align: center;

        & span {
            @include typography(b2-r);
            color: var(--ob-theme-color-black);
        }

        & a {
            @include typography(b2-r);
            text-decoration: none;
            color: "#427FEC";
        }
    }

    &__input--password {
        .ob-input {
            --padding-end: 34px;
        }

        ion-button {
            width: 24px;
            height: 24px;
            position: absolute;
            right: 6px;
            bottom: 16px;
            --background: transparent;
            --box-shadow: none;
            color: var(--ob-theme-color-black);
            z-index: 9999;

            & ion-icon {
                color: var(--ob-theme-color-grey);
                position: absolute;
            }
        }
    }

    &__notification {
        width: 100%;
        margin: 8px auto;
        display: flex;
        justify-content: center;

        span {
            font: var(--ob-theme-font-body-1);
            margin-left: 8px;
        }
    }

    .success {
        color: var(--ob-theme-color-success);
    }

    ion-button {
        margin-top: 16px;
    }
}
