<ion-header class="ob-layout__header"></ion-header>
<ion-content class="ob-layout__content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="reset-password-form">
        <ion-item>
            <ion-img class="reset-password-form__logo" src="assets/media/logos/logo-ob-black.svg" alt="Onebox logo"></ion-img>
        </ion-item>
        <ion-text>
            <h1 data-override-styles class="reset-password-form__title"> {{ "RESET-PASS.TITLE" | translate }}</h1>
        </ion-text>
        @if ($maxPasswordStorage()) {
            <ion-text>
                <p data-override-style class="reset-password-form__text">
                    @if ($maxPasswordStorage() === 1) {
                        {{ "RESET-PASS.SUBTITLE" | translate }}
                    } @else {
                        {{ "RESET-PASS.SUBTITLE_CONDITIONS" | translate: { value: $maxPasswordStorage() } }}
                    }
                </p>
            </ion-text>
        }
        @if ($isOldPasswordRepeated().show) {
            <ion-item>
                <app-context-notification class="reset-password-form__notification" contextType="warn">
                    <span>{{ $isOldPasswordRepeated().message | uppercase | translate }}</span>
                </app-context-notification>
            </ion-item>
        }
        <ion-item class="reset-password-form__input--password">
            <ion-label data-override-styles="" class="ob-input input-label" position="stacked" for="newPassword">
                {{ "INPUTS.NEW-PASSWORD" | translate }}*
            </ion-label>
            <ion-input fill="outline" data-override-styles="" class="ob-input" aria-label="New Password" legacy="true"
                [type]="$showPasswordValue() ? 'text' : 'password'" formControlName="newPassword" id="newPassword"
                (ionBlur)="$isNewPwdBlur.set(true)" [placeholder]="'INPUTS.NEW-PASSWORD' | translate"
                [ngClass]="{error: $isOldPasswordRepeated().show}">
            </ion-input>
            @if (form.get('newPassword').value) {
                <ion-button shape="round" (click)="$showPasswordValue.set(!$showPasswordValue())">
                    <ion-icon slot="icon-only"
                        [src]="'./assets/media/icons/' + ($showPasswordValue() ? 'no-eye.svg' : 'eye.svg')"></ion-icon>
                </ion-button>
            }
        </ion-item>
        <ion-item>
            <div class="reset-password-form__password-help">
                @for (error of (passwordConditionErrors | keyvalue); track error.key) {
                    <div class="reset-password-form__help-container">
                        <ion-icon src="./assets/media/icons/check.svg"
                            [class.success]="!form.get('newPassword').hasError(error.key) && form.get('newPassword').value"></ion-icon>
                        <ion-text>
                            <p data-override-style class="reset-password-form__help-item"
                                [class.error]="form.hasError(error.key, 'newPassword') && $isNewPwdBlur()">
                                {{('RESET-PASS.ERRORS.' + error.value) | translate}}
                            </p>
                        </ion-text>
                    </div>
                }
            </div>
        </ion-item>
        <ion-item class="reset-password-form__input--password">
            <ion-label data-override-styles="" class="ob-input input-label" position="stacked" for="confirmPassword">
                {{'INPUTS.CONFIRM-PASSWORD' | translate}}*
            </ion-label>
            <ion-input fill="outline" data-override-styles="" class="ob-input" aria-label="Confirm Password" legacy="true"
                [placeholder]="'INPUTS.NEW-PASSWORD' | translate" [type]="$showConfirmPasswordValue() ? 'text' : 'password'"
                formControlName="confirmPassword" id="confirmPassword" [ngClass]="{error: $isOldPasswordRepeated().show}">
            </ion-input>
            @if (form.get('confirmPassword').value) {
                <ion-button shape="round" (click)="$showConfirmPasswordValue.set(!$showConfirmPasswordValue())">
                    <ion-icon slot="icon-only"
                        [src]="'./assets/media/icons/' + ($showConfirmPasswordValue() ? 'no-eye.svg' : 'eye.svg')"></ion-icon>
                </ion-button>
            }
        </ion-item>

        <ion-button data-override-styles="" expand="full" class="ob-btn primary size--medium" type="submit"
            [disabled]="!form.valid">
            @if ($loading()) {
                <ion-spinner name="crescent" class="ob-spinner ob-spinner--white"></ion-spinner>
            } @else {
                {{ "RESET-PASS.BUTTON" | translate }}
            }
        </ion-button>
    </form>
    <ion-text class="reset-password-form__copy-and-terms">
        <span>
            {{ "LOGIN.COPYRIGHT" | translate }}
        </span>
        <a class="ob-link terms-conditions" target="_blank" href="{{ 'LOGIN.TERMS-LINK' | translate }}">
            {{ "LOGIN.TERMS" | translate }}
        </a>
    </ion-text>
</ion-content>
<ion-footer class="ob-layout__footer"></ion-footer>