@mixin styles() {
    .ob-layout {
        &__header,
        &__footer {
            box-shadow: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 24px;
        }

        &__content {
            height: 100%;
            &::part(scroll) {
                display: flex;
                flex-direction: column;
                padding: 16px 24px 16px;
            }
        }

        &__header {
            min-height: 56px;
        }

        &__footer {
            min-height: 24px;
        }
    }
}
