@use "typography" as *;

.profile-config {
    &__info {
        display: flex;
        gap: 16px;
        margin-bottom: 24px;
    }

    &__circle-monogram {
        min-width: 48px;
        min-height: 48px;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: var(--ob-theme-color-neutral);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--ob-theme-color-white);
        @include typography(circle-monogram);
    }

    &__info-data {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: var(--ob-theme-color-black);
    }

    &__username {
        & span {
            @include typography(b1-b);
        }

        & .skeleton-text-animated {
            width: 120px;
        }
    }

    &__mail {
        & span {
            @include typography(b1-r);
        }
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__options {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: var(--ob-theme-color-grey-light-10);
    }

    &__option {
        height: 60px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--ob-theme-color-grey-light-10);
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__option-name {
        & span {
            @include typography(b1-b);
        }
        margin-right: auto;
        color: var(--ob-theme-color-black);
    }

    &__option-value {
        & span {
            @include typography(b1-b);
        }
        color: var(--ob-theme-color-grey);
    }
    &__option-arrow {
        color: var(--ob-theme-color-primary);
        font-size: 22px;
    }

    &__exit {
        margin-top: auto;
        height: 60px;
        border-width: 1px 0;
        border-style: solid;
        border-color: var(--ob-theme-color-grey-light-10);
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__exit-icon {
        color: var(--ob-theme-color-primary);
        font-size: 18px;
    }

    &__exit-text {
        & span {
            @include typography(b1-r);
        }
        color: var(--ob-theme-color-black);
    }

}
