@mixin shi-badge-override($theme, $custom-colors, $typography) {
    .badge-container {
        .badge {
            color: #607D8B;
            padding: 2px 4px;
            border-radius: 4px;
            border: 1px solid;
            box-sizing: border-box;
            font-size: 12px;
            .mat-icon {
                box-sizing: border-box;
                vertical-align: text-top;
                height: 16px;
                width: 16px;
                font-size: 16px;
            }
        }
    }
}
