@mixin shi-table-override($palettes, $colors, $typography) {
    $ob-black: map-get($colors, ob-black);
    $ob-grey-light-10: map-get($colors, ob-grey-light-10);

    .ob-table {
        .mat-mdc-cell,
        .mat-mdc-header-cell {
            &.small-cell {
                min-width: 72px;
                max-width: 72px;
                &.with-divider {
                    padding-right: 8px;
                }
            }
        }
        &.aggregated-table {
            tr.mat-header-row,
            tr.mat-footer-row,
            tr.mat-row {
                th.mat-header-cell,
                td.mat-footer-cell {
                    &:last-child:not(.currency-column, .total-price-column) {
                        color: $ob-black;
                    }
                    &.total-column {
                        color: $ob-black;
                        font-weight: 700;
                    }
                }
            }
        }
        .with-divider {
            border-right: 1px $ob-grey-light-10 solid;
            padding-right: 16px;
        }
    }
}
