**/target/**
**.idea
**.iml
**.orig
**.jasper
git.properties
**/git.properties
bin-debug
nbactions*.xml
nb-configuration*.xml
**.classpath
**.project
**.settings
**/api-docs/**/*.html
**/api-docs/**/*-bundled.yml
/app/nbproject/