@use "../../../assets/sass/_typography.scss" as *;

.session-detail-page {
    &__header-info {
        &-dates-session {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;

            ion-text {
                @include typography(b2-r);
            }
        }
    }

    &__accordion-content {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        &--list {
            flex-direction: column;
        }
    }

    &__accordion-list-item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 12px;
        justify-content: space-around;
        padding: 12px 0;

        &:not(&:last-child) {
            border-bottom: 1px solid var(--ob-theme-color-grey-light-20);
        }

        &-text-container {
            display: flex;
            flex: 1;
            flex-direction: column;
        }

        ion-label {
            font-weight: 700;
            margin-bottom: 8px;
        }

        &-text {
            color: var(--ob-theme-color-black);
            @include typography(b1-l);

            &:not(&:last-child) {
                margin-bottom: 8px;
            }

            b {
                @include typography(b1-b);
            }
        }

    }

    &__accordion-text-block {
        flex-basis: calc(100% - 6px);
        max-width: calc(100% - 6px);
        display: flex;
        flex-direction: column;

        &--list-item {
            flex-basis: auto;
            max-width: none;
        }

        &:not(&--list-item) > * {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__header-search-bar {
        margin-bottom: 15px;
    }

    &__result {
        padding-top: 10px;

        &-block-title {
            @include typography(h3-r);
            color: var(--ob-theme-color-black);
        }

        &-block-info {
            display: flex;
            @include typography(b1-r);
            color: var(--ob-theme-color-grey);

            & span {
                display: flex;
                align-items: center;
                margin-top: 6px;
            }
        }
    }

    &__ticket-list {
        margin: 0 -20px;
    }

    &__ticket-card {
        margin: 8px 24px;
        display: grid;
    }
}

.skeleton {
    &__back-button {
        margin-top: 16px;
        margin-left: 20px;
        height: 22px;
        width: 60px;
    }

    &__header-info {
        height: 20px;
        width: 30%;
    }

    &__accordion {
        height: 16px;
        width: 60%;
    }
}
