@use "../../../../assets/sass/_typography.scss" as *;

:host {
    display: inline-flex;
    width: 100%;
    overflow: hidden;

}

.icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    vertical-align: middle
}

.back-button {
    display: flex;
    flex-direction: column;
    min-width: 48px;
    min-height: 60px;
    justify-content: center;

    &__breadcrumbs {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 0;
        margin-left: 20px;
    }

    &__breadcrumb {
        @include typography(b2-r);
        color: var(--ob-theme-color-grey);

        &::part(native) {
            padding: 0;
        }

        &.breadcrumb-active {
            font-weight: 700;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 4px;
        overflow: hidden;
        width: 100%;
    }

    &__title-icon {
        margin-top: 2px;
        font-size: 32px;
        min-width: 32px;
        color: var(--ob-theme-color-primary);
        margin-left: -6px;
    }

    &__title-text {
        @include typography(h3-b);
        color: var(--ob-theme-color-black);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
    }

    &__modal-text {
        @include typography(h3-b);
        color: var(--ob-theme-color-black);
        width: 100%;
    }
}
