.calendar-week {
    &__day-list {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    &__day-item {
        width: 14%;
        list-style-type: none;
        font-family: Nunito Sans;
        font-size: 11px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        color: var(--ob-theme-color-grey);
        text-transform: lowercase;
        text-align: center;
    }
}
