@use "../../../../../assets/sass/_typography.scss" as *;

.info-tab {
    &__price {
        border-bottom: 1px solid var(--ob-theme-color-grey-light-10);
        padding: 16px 0;

        ion-text {
            @include typography(h4-r);
        }
    }

    &__list-prices-content {
        padding-top: 20px;
        padding-bottom: 20px;

        &-label-header {
            color: var(--ob-theme-color-black);
            font-family: "Nunito Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 125% */
        }
    }

    &__price-card {
        padding: 16px;
        border-radius: 10px;
        border: 1px solid var(--ob-theme-color-grey-light-10);

        &-label {
            display: block;
            width: 100%;
            height: 35px;
            overflow: hidden;
            color: var(--ob-theme-color-grey);
            text-overflow: ellipsis;
            white-space: nowrap;
            font-family: "Nunito Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; /* 112.5% */
        }

        &-value {
            display: block;
            width: 100%;
            text-align: right;
            color: var(--ob-theme-color-black);
            text-align: right;
            font-family: "Nunito Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 111.111% */
        }
    }
}
