<ion-card data-override-styles class="ob-native-card transaction-card" (click)="goToTransactionDetail()">
    <ion-card-content class="transaction-card__content">
        <div class="transaction-card__date-and-price">
            <ion-text class="transaction-card__date">
                <span>{{ this.transaction.date | dateTime : 'DD/MM/yyyy HH:mm' }}</span></ion-text>
            <ion-text class="transaction-card__price">
                <span>{{ this.transaction.price.final | localCurrency: this.transaction.price.currency }}</span>
            </ion-text>
        </div>
        <ion-text class="transaction-card__id-number">
            <span>{{ "TRANSACTIONS.TRANSACTION-CARD-PURCHASE-NUMBER" | translate : {code: this.transaction.code} }}</span>
        </ion-text>
        <ion-text class="transaction-card__channel">
            <span>{{ "TRANSACTIONS.TRANSACTION-CARD-CHANNEL" | translate : {channel: this.transaction.channel.name} }}</span>
        </ion-text>
        <div class="transaction-card__event">
            <ion-text class="transaction-card__event--label">
                <span>{{ "TRANSACTIONS.TRANSACTION-CARD-EVENT" | translate }}:</span>
            </ion-text>
            <ion-text class="transaction-card__event--value"><span appEllipsify>{{ this.transaction.eventColumnData }}</span></ion-text>
        </div>
        <div class="transaction-card__divider"></div>
        <div class="transaction-card__user-info">
            <ion-icon class="transaction-card__user-icon" src="./assets/media/icons/profile.svg"></ion-icon>
            <ion-text><span>{{ this.transaction.buyer_data.name }}</span></ion-text>
            <span>|</span>
            <ion-text class="transaction-card__email" appEllipsify><span>{{ this.transaction.buyer_data.email }}</span></ion-text>
        </div>
    </ion-card-content>
</ion-card>