@use "../../../../assets/sass/_typography.scss" as *;

:host {
    width: 100%;
}

.transaction-card {
    &__content {
        display: flex;
        flex-direction: column;
    }

    &__date-and-price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    &__date {
        display: flex;
        align-items: center;
        @include typography(b2-r);
        color: var(--ob-theme-color-grey);
    }

    &__price {
        @include typography(b2-b);
        color: var(--ob-theme-color-accent);;
        background-color: rgba(98, 90, 197, 0.1);
        padding: 2px 5px;
        border-radius: 8px;
    }

    &__id-number {
        @include typography(b05-b);
        color: var(--ob-theme-color-black);
        margin-bottom: 6px;
    }

    &__channel {
        @include typography(b2-r);
        color: var(--ob-theme-color-black);
        margin-bottom: 16px;
    }

    &__event {
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;

        &--label {
            @include typography(b2-r);
            color: var(--ob-theme-color-grey);
        }

        &--value {
            @include typography(b1-r);
            color: var(--ob-theme-color-black);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__divider {
        height: 1px;
        background-color: var(--ob-theme-color-bg-2);
        margin-bottom: 16px;
    }

    &__user-info {
        display: flex;
        gap: 3px;
        @include typography(b1-r);
        color: var(--ob-theme-color-black);

        & > * {
            white-space: nowrap;
        }
    }

    &__user-icon {
        min-width: 16px;
        font-size: 16px;
        color: var(--ob-theme-color-grey);
        margin-right: 6px;
    }
}
