type: object
properties:
  sessions:
    type: array
    items:
      type: object
      properties:
        sessionId:
          type: number
        transfer:
          type: integer
        attendance:
          type: integer