@use "typography" as *;

:host {
    position: relative;
    contain: content;
    margin: 0 -24px;
    padding: 0 24px;

    & ion-header ion-buttons {
        margin: 0;
    }
}

.calendar-selector {
    &__header {
        box-shadow: none;
        height: 65px;
        display: flex;
        align-items: center;
    }

    &__title {
        @include typography(modal-title);
        color: var(--ob-theme-color-black);
    }

    &__close-btn {
        margin: 0;
        margin-right: -4px;
        --ripple-color: transparent;

        &::part(native) {
            padding: 0;
        }
    }

    &__close-btn-icon {
        font-size: 24px;
        color: #8e827c;
    }

    &__go-back-btn {
        margin-left: 0;
        margin-right: 6px;
        --ripple-color: transparent;

        &::part(native) {
            padding: 0;
        }
    }

    &__go-back-icon {
        font-size: 22px;
        color: var(--ob-theme-color-primary);
        margin-left: -6px;
    }

    &__content {
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__calendar {
        height: 300px;
    }

    &__calendar-title {
        @include typography(menu-r);
        color: var(--ob-theme-color-black);
        text-transform: uppercase;
    }

    &__calendar-title-icon {
        margin-left: 10px;
    }

    &__interactions {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        border-top: 1px solid var(--ob-theme-color-grey-light-10);
    }

    &__date-info {
        padding: 19px 0;
        display: flex;
        justify-content: space-around;
    }

    &__date-chips {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-bottom: 24px;
    }

    &__date-chip {
        @include typography(b2-r);
        color: var(--ob-theme-color-black);
        background-color: var(--ob-theme-color-bg-2);

        &--selected {
            color: var(--ob-theme-color-white);
            background-color: var(--ob-theme-color-primary);
        }
    }

    &__btn:not(:last-child) {
        margin-bottom: 15px;
    }
}

.date-info {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__title {
        @include typography(b2-r);
        color: var(--ob-theme-color-grey);
    }
    &__date {
        margin: 0;
        @include typography(b2-r);

        &--bold {
            @include typography(b2-b);
        }
    }
}
