static-view {
    margin-top: 54px;
}

.session-pack {
    &__result-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 16px;

        &-block-title {
            font-family: "Montserrat";
            font-size: 22px;
            font-weight: 400;
            line-height: 24px;
            color: var(--ob-theme-color-black);
        }

        &-block-info {
            font-family: "Nunito Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 125% */
            color: var(--ob-theme-color-grey);

            & span {
                display: flex;
                align-items: center;
                margin-top: 10px;
            }
        }
    }

    &__ticket-list {
        margin: 0 -24px;
    }

    &__ticket-card {
        margin: 8px 24px;
        display: grid;
    }
}
