additionalProperties: false
type: object
required:
  - server
  - port
properties:
  server:
    type: string
  port:
    type: number
  user:
    type: string
  password:
    type: string
  security:
    type: string
    enum:
      - NONE
      - STARTTLS
      - SSL_TLS
  require_auth:
    type: boolean
