@use "typography" as *;

static-view {
    margin-top: 54px;
}

.session-tab {
    &__filters {
        display: flex;
        flex-direction: column;

        &-actions {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 8px;
            margin-top: 8px;

            .btn-filter {
                --padding-end: 8px;
                --padding-start: 8px;
            }

            .btn-calendar {
                --padding-end: 8px;
                --padding-start: 8px;
            }
        }

        &-filter-label {
            color: #8d8d8f;
            @include typography(b1-b);
            margin-right: 6px;
        }

        &-bubbles {
            display: flex;
            align-items: center;
            overflow-x: scroll;
            margin-left: -24px;
            margin-right: -24px;
            padding: 6px 24px 6px 24px;
            gap: 6px;

            &::-webkit-scrollbar {
                display: none;
            }

            ion-col {
                padding-left: 5px;
                right: 5px;
                padding-top: 0;
                padding-bottom: 0;
            }

            ion-chip {
                height: 30px;

                ion-label {
                    font-family: "Nunito Sans";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 10px; /* 114.286% */
                    text-wrap: nowrap;
                }
            }
        }
    }

    &__result-block {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        &-block-title {
            font-family: "Montserrat";
            font-size: 22px;
            font-weight: 400;
            line-height: 24px;
            color: var(--ob-theme-color-black);
        }

        &-block-info {
            display: flex;
            font-family: "Nunito Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 125% */
            color: var(--ob-theme-color-grey);

            & span {
                display: flex;
                align-items: center;
                margin-top: 6px;
            }
        }
    }

    &__ticket-list {
        margin: 0 -24px;
    }

    &__ticket-card {
        margin: 8px 24px;
        display: grid;
    }

}
