@use "typography" as *;

:host {
    height: 100%;
    width: 100%;
}

.slide3 {
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 60px;
    }

    &__picture {
        margin-top: 111px;
        width: 320px;
    }

    &__text-section {
        text-align: center;
    }

    &__title h2 {
        color: var(--ob-theme-color-primary);
        @include typography(h2-b);
    }
}
