additionalProperties: false
type: object
properties:
  entity_id:
    type: integer
    format: int64
  restrictions:
    type: array
    items:
      type: object
      properties:
        key:
          type: string
          enum:
            - BUY_TICKET_EXCHANGE
            - LIST_TICKET_EXCHANGE
            - LOYALTY_POINTS
        restricted_customer_types:
          type: array
          items:
            type: number
            format: int64
