additionalProperties: false
type: object
required:
  - email
properties:
  email:
    type: object
    required:
      - enabled
    properties:
      enabled:
        type: boolean
      send_limit:
        type: integer
