additionalProperties: false
type: object
properties:
  limits:
    type: object
    properties:
      default:
        type: number
      exceptions:
        type: array
        items:
          type: object
          properties:
            id:
              type: number
            value:
              type: number
  friends_relation_mode:
    type: string
    enum:
      - UNIDIRECTIONAL
      - BIDIRECTIONAL
  permissions:
    type: array
    items:
      type: object
      properties:
        id:
          type: number
        value:
          type: number
