additionalProperties: false
type: object
properties:
  name:
    type: string
  field_values:
    type: object
    additionalProperties:
      type: string
    example:
      GATEWAY_FIELD_1: Value for field 1
      GATEWAY_FIELD_2: Value for field 2