additionalProperties: false
type: object
properties:
  max_retries:
    type: integer
    format: int64
  expiration:
    type: object
    properties:
      enabled:
        type: boolean
      type:
        type: string
        enum:
          - DAYS
          - MONTHS
      amount:
        type: integer
        format: int64
  storage:
    type: object
    properties:
      enabled:
        type: boolean
      amount:
        type: integer
        format: int64