additionalProperties: false
type: object
properties:
  enabled:
    type: boolean
  connection:
    type: object
    properties:
      url:
        type: string
      credentials:
        type: object
        properties:
          username:
            type: string
          password:
            type: string