@use "typography" as *;

:host {
    height: 100%;
    width: 100%;
}

.slide1 {
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 60px;
    }
    &__logo {
        width: 190px;
    }

    &__picture {
        width: 320px;
    }

    &__text-section {
        text-align: center;
    }

    &__title h2 {
        color: var(--ob-theme-color-primary);
        @include typography(h2-b);
    }

    &__description p {
        color: var(--ob-theme-color-black);
        @include typography(h4-r);
    }
}
