<div class="slide1__content">
    <ion-img class="slide1__logo" src="./assets/media/logos/logo-ob-black.svg"></ion-img>
    <ion-img class="slide1__picture" src="./assets/media/img/onebox-swiper-1.svg"></ion-img>
    <div class="slide1__text-section">
        <ion-text class="slide1__title">
            <h2>{{ "ONBOARDING.SLIDE1.TITLE" | translate }}</h2>
        </ion-text>
        <ion-text class="slide1__description">
            <p>{{ "ONBOARDING.SLIDE1.DESCRIPTION" | translate }}</p>
        </ion-text>
    </div>
</div>